[Unit]
Description=Lumith nanomsg Distributor Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/user/github/nanodist/working
ExecStart=/home/user/github/nanodist/nanodist
Restart=on-abort

[Install]
WantedBy=multi-user.target
